.detailsCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailsCardBox .cardDiv {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.detailsCardBox .cardDiv:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.detailsCardBox .cardDiv:hover::before {
    background: rgb(85 108 214 / 10%);
}

.detailsCardBox .cardDiv:hover .title h1,
.detailsCardBox .cardDiv:hover .description p,
.detailsCardBox .cardDiv:hover .description .address {
    color: #fff;
}
.cardDiv .description button a {
    text-decoration: none !important;
    color: #fff;
}

.cardDiv .description button {
    margin: 5px;
}

.detailsCardBox .cardDiv:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.detailsCardBox .cardDiv:hover .description button a {
    background: #fff !important;
    color: #309df0;
}

.detailsCardBox .cardDiv:hover .description button {
    background: #fff !important;
    color: #309df0;
}

.cardDiv .title h1 {
    color: #212121;
    margin-top: 13px;
    margin-bottom: 13px;
}

.cardDiv .description .address {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.cardDiv .description p {
    font-size: 20px;
    margin-top: 10px;
}

.cardDiv .description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
        140deg,
        #42c3ca 0%,
        #42c3ca 50%,
        #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hoverBubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.detailsCardBox .cardDiv:hover .hoverBubble {
    top: 0rem;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .detailsCardBox {
        flex: auto;
    }
}
@media only screen and (min-width: 768px) {
    .detailsCardBox {
        flex: 1;
    }
}
