*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#map {
    width: 100%;
}

.geocoder {
    border: 1px solid black;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#nprogress .bar {
    z-index: 1203 !important;
}

body {
    margin: 0;
  }
a {
    text-decoration: none;
    color: inherit;
}
